.pixel-container {
    display: grid;
    width: 700px;
    height: 700px;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    padding: 0;
    background-color: white;
} 

html {
    --background: #ededed;
    --accent: #3d3d3d;
    --main: #a3a3a3;
    font-family: system-ui;
}

body {
    background-color: var(--background);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    transition: all 0.4s ease-in-out;
    visibility: hidden;
    margin: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 6px;
    border: 2px black solid;
    z-index: 101;
}

.open-popup {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    position: fixed;
    margin: auto;
    visibility: visible;
}

.popup h1 {
    display: block;
    margin-top: -2%;
    font-size: 1.4rem;
}

#rainbow {
    background: var(--main);
    color: white;
}

.btn {
    border: none;
    /* box-shadow: 2px 2px rgba(0, 0, 0); */
    border-radius: 6px;
    background-color: white;
    transition: 0.1s ease-in-out;
    /* display: block; */
    height: 40px;
    width: 120px;
}

.btn:hover {
    transform: scale(1.1);
    background-color: rgba(150, 150, 150, 0.2);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.controls {
    margin-top: 5%;
}

input {
    width: 95%;
    height: 90%;
    border: none;
    margin: auto;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(150, 150, 150, 0.2);
    display: none;
    z-index: 100;
}

#size {
    background-color: var(--accent);
    color: white;
}

#submit {
    margin-top: 5%;
}

fieldset {
    border: 3px solid;
    padding: 0;
    height: 30%;
    padding-bottom: 5px;
}

legend {
    font-weight: bold;
}

#submit .btn {
    background-color: #FAB700;
    font-weight: bold;
    font-size: 1.25rem;
}

.form-group {
    padding: 10px;
    margin: 10px;
    height: 80%;
    width: 90%;
}

.form-group>label{
    position:absolute;
    top:-1px;
    left:20px;
    background-color:white;
  }
  
  .form-group>input{
    border:none;
  }

  @media (max-width: 700px) {
    .pixel-container {
        height: 350px;
        width: 350px;
    }
  
    #submit .btn {
        margin-top: 25px;
    }

    .popup h1 {
        font-size: 1rem;
    }
  
  }